*.iml
*.iws
.gradle/
.idea/
bin/
build/
out/

# Python infrastructure
setup.cfg
dist/
**/__pycache__
**/*.egg-info/*
**/.pytest_cache

src/save/
**/src/generated/
.settings
/*.zip
/.vertx
/plugin.xml
/*.log
/*DB.*
.DS_Store
/target/
**/out/
/target-eclipse/
.classpath
.project
test/system/groovy20/jars/*
.vertx/
*.log.gz
*.orig
*.swp
**/secrets.properties
